 @import url('https://fonts.googleapis.com/css2?family=Alegreya:ital@0;1&display=swap');
 /* I googled which fonts are best for website and I picked out Alegreya */
 /* standard @media, I will go with 768px and 760px again since my challenge 01, that was my gold standard and caused me to learn more */
 
 * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Alegreya';
 }
/*
 li, a, button {
    font-family: "Alegreya";
    font-weight: 500px;
    font-size: 16px;
    color: black;
    text-decoration: none;
 }

 header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 50px;
    /* padding on 15px 50px 15px 50p
 }

/* practicing on flex */
/*
.logo {
    cursor: pointer;
    margin-right: auto;
}

.nav__links {
    list-style: none;

}

.nav__links li  {
    display: inline-block;
    padding: 10px 20px;
}

.nav__links li a {
    transition: all 0.3s ease 0s;
}
/* The transition will be for all at 0.3 seconds and it will ease with 0s delay */
/* It will be easier to read it out since I have to find a way to describe my product to customer or peers later */
/*
.nav__links li a:hover {
    color: aqua;
}
*/
/*
button {
    padding: 20px 40px; /* without padding, the button won't complete */
    /*
    background-color: rgba(0,136,169,1); */
    
    /* rgba because they have alpha value. Use opacity more for less boring */
    /*
    border: none;
    border-radius: 30px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    margin-left: 20px;
}

button:hover {
    background-color: green;   
}

/* HEADER AND NAV */
/*
@media only screen and (max-width: 760px;) {

}
*/
/*

*/
body {
    display: flex;
    justify: center;
    align-self: center;
    min-height: 100vh;
    background: #222;
}

.container {
    position: relative;
    max-width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-template-rows: minmax(100px,auto);
    margin:40px;
    grid-auto-flow: dense;
}


.container .box {
    background: #333;
    padding: 20px;
    margin: 5px;
    display: grid;
    font-size:20px;
    place-items: center;
    text-align: center;
    color: #fff;
    transition: 0.5s; 
}

.container .box:hover{
    background: aqua;
}

.container .box img{
    position: relative;
    max-width: 100px;
    margin-bottom: 10px;
}



.container .box:nth-child(1) {
    grid-column: span 2;
    grid-row: span 1;
}

.container .box:nth-child(2) {
    grid-column: span 2;
    grid-row: span 1;
}

.container .box:nth-child(4) {
    grid-column: span 1;
    grid-row: span 2;
}

.container .box:nth-child(5){
    grid-column: span 3;
    grid-row: span 1;
}

footer {
    background: #111;
    height: auto;
    width: 100vw;
    font-family: "Open Sans";
    padding-top: 40px;
    color: #fff
}

.footer-content {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

@media (max-width: 991px) {
    .container {
        grid-template-columns: repeat(auto-fill, mimax(50%, 1fr));
        grid-template-rows: minmax(auto, auto);
    }
}